@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gray-50;
}

.route-transition {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

[data-rbd-drag-handle-context-id] {
  cursor: grab;
}

[data-rbd-drag-handle-context-id]:active {
  cursor: grabbing;
}

[data-rbd-draggable-context-id] {
  transition: transform 0.2s ease;
}

.Toastify__toast-container {
  @apply text-sm;
}

.prose {
  @apply max-w-none;
}
.prose p {
  @apply my-0;
}
